// Azul

$azul-medio: #78aad6;
$azul-oscuro: #466988;

// Gris

$gris-texto: #424242;
$gris-medio: #797979;
$gris-detalles: #909090;
$gris-botón: #b3b3b3;
$gris-borde: #f2f2f2;

// Rojo

$rojo-oscuro: #5a1b17;
$rojo-fuerte: #ff4d41;
$rojo-claro: #ff7e79;
$rojo-muy-claro: #ffaca9;
$rojo-super-claro: #ffd6d5;

// Blanco

$blanco: #ffffff;
$blanco-transparente: rgba(255, 255, 255, 0.2);

// Otros

$leche: #fdfff8;
$leche-oscura: #2f2f2e;
