.main {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: space-between;
  width: inherit;
  max-width: 1280px;
  height: inherit;
  .icon {
    display: inherit;
  }
}
